.home-container {
  padding: 20px;
   max-width: 1400px;
    margin: 0 auto;
   }

.home-content {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

.home-layout {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.filters-section {
  width: 250px;
}

.cars-section {
  flex: 1;
}
