.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-bar input {
  flex: 1;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 1rem;
}
.filter-group input:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 6px rgba(0, 85, 255, 0.3);
  transition: 0.2s ease;
}
